body {
    background-color: rgb(247, 255, 242);
}

.App {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(6, calc(30% - 40px));
}

.thread {
    padding: 20px;
    margin: 5px 5px;
    height: fit-content;
    width: fit-content;
}

.post {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    background: rgb(226, 255, 226);
    border: solid black 1px;
}

.name {
    margin: 0;
}

.content {
    margin-left: 10px;
}

