/* Color Variables */
:root {
    --mainColor: #242038;
    --subColor: #8D99AE;
    --titleColor: #222725;
}


body {
    background-color: var(--mainColor);
    font-family: 'Abel', sans-serif;
}

.threads {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    gap: 0;
}

.thread {
    padding: 20px;
    height: fit-content;
    width: fit-content;
    background-color: var(--subColor);
    margin-right: 10px;
}

.post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "name name right"
    "content content right";
}

.name {
    grid-area: name;
    margin: 0;
}

.content {
    grid-area: content;
    margin-left: 5%;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.submit {
    grid-area: submit;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "name submit"
    "content submit";
    grid-gap: 5%;
}

.header {
    display: grid;
    grid-template-areas: "title create";
    margin-bottom: 1%;
}

.title {
    color: var(--subColor);
    font-size: 100px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #ffffff 1px, rgba(0, 0, 0, 0) 1px);
    font-family: 'Abel', sans-serif;
    text-align: center;
    border-radius: 100px;
}